* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
}

.head-top {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: black;
}

.input-box {
  width: 279px;
  border-radius: 5px;
  border: 1px solid #00000066;
  outline: none;
  padding: 10px 0px 8px 17px;
}

.email-box {
  width: 566px;
  border-radius: 5px;
  border: 1px solid #00000066;
  padding: 10px 0px 8px 17px;
}

.sub-btn {
  width: 574px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  border-radius: 23px;
  background: #2C49FE;
  color: white;
}

.outer-box {
  box-shadow: 0px 11px 44px -10px #00000040;
  width: 653px;
  padding: 30px;
}
.top-heading{
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #808080;

}